<!DOCTYPE html>
<html xmlns:th="http://w3.org/1999/xhtml">
<head>
<title>TMS</title>
<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600'
	rel='stylesheet' type='text/css' />
<link th:href="@{/plugins/pace-master/themes/blue/pace-theme-flash.css}"
	rel="stylesheet" />
<link th:href="@{/plugins/uniform/css/uniform.default.min.css}"
	rel="stylesheet" />
<link th:href="@{/plugins/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/plugins/fontawesome/css/font-awesome.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/plugins/line-icons/simple-line-icons.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/plugins/offcanvasmenueffects/css/menu_cornerbox.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/plugins/waves/waves.min.css}" rel="stylesheet"
	type="text/css" />
<link th:href="@{/plugins/switchery/switchery.min.css}" rel="stylesheet"
	type="text/css" />
<link th:href="@{/plugins/3d-bold-navigation/css/style.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/plugins/slidepushmenus/css/component.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/plugins/fullcalendar/fullcalendar.min.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/plugins/select2/css/select2.min.css}" rel="stylesheet"
	type="text/css" />
<link th:href="@{/plugins/datatables/css/jquery.datatables.min.css}"
	rel="stylesheet" />
<link
	th:href="@{/plugins/datatables/css/jquery.datatables_themeroller.css}" />
<!-- Theme Styles -->
<link th:href="@{/css/modern.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/css/themes/green.css}" class="theme-color"
	rel="stylesheet" type="text/css" />
<!-- <link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css" /> -->


<link th:href="@{/css/component.css}" rel="stylesheet" type="text/css" />
<!-- <link href="/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" -->
<!-- 	type="text/css" /> -->

<link th:href="@{/plugins/bootstrap-datepicker/css/datepicker3.css}"
	rel="stylesheet" type="text/css" />
<link
	th:href="@{/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css}"
	rel="stylesheet" type="text/css" />

<script th:src="@{/plugins/3d-bold-navigation/js/modernizr.js}"></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script> -->
<script th:src="@{/js/custom/Chart.min.js}"></script>



<link href="https://www.jqueryscript.net/css/jquerysctipttop.css"
	rel="stylesheet" type="text/css" />
<script th:src="@{/plugins/jquery/jquery-2.1.4.min.js}"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet"
	href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

<script th:src="@{/js/jquery.tagsinput-revisited.js}"></script>
<link rel="stylesheet" th:href="@{/js/jquery.tagsinput-revisited.css}" />
<title>Page titles</title>
</head>

<body>



	<div class="overlay"></div>
	<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right"
		id="cbp-spmenu-s1"></nav>
	<main class="page-content content-wrap">

	<div th:replace="common/header :: common-navbar" class="navbar"></div>
	<!-- Navbar -->

	<div th:replace="common/header :: common-sidebar"></div>
	<!-- Sidebar -->

	<div class="page-inner">
		<div class="page-title">
			<h3>WYS</h3>
			<div class="page-breadcrumb">
				<ol class="breadcrumb">
					<li><a th:href="@{/dashboard}">Home</a></li>
					<li class="active">Register User</li>

				</ol>
			</div>
		</div>
		<div id="main-wrapper" th:fragment="body-doctor">
			<div class="row">
				<div class="col-md-9">

						<div class="col-md-12">
							<div class="panel panel-white">
								<div class="panel-body">
									<div id="rootwizard">
										<ul class="nav nav-tabs" role="tablist">
											<li th:if="${returnedstatus} == false" role="presentation"
												class="active"><a href="#tab1" data-toggle="tab"><i
													class="fa fa-user m-r-xs"></i>Register Task</a></li>

										</ul>

										<div class="progress progress-sm m-t-sm">
											<div class="progress-bar progress-bar-primary"
												role="progressbar" aria-valuenow="20" aria-valuemin="0"
												aria-valuemax="100" style="width: 0%"></div>
										</div>

										<div class="tab-content">
											<div class="tab-pane active fade in" id="tab1">
												<div class="row m-b-lg">

													<div class="col-md-12">

														<div th:if="${param.regstatus}" id="success-alert"
															class="alert alert-success alert-dismissible"
															role="alert">
															<button type="button" class="close" data-dismiss="alert"
																aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>

														</div>

														<div th:if="${param.regError}" id="success-alert"
															class="alert alert-danger alert-dismissible" role="alert">
															<button type="button" class="close" data-dismiss="alert"
																aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>
															<strong>OOPS!! </strong><span th:text="${regMsg}">Better
																check yourself, you're not looking too good.</span>

														</div>
														<form id="wizardForm" method="POST"
															th:action="@{/task/create}" th:object="${task}">


															<div class="form-group col-md-6">
																<label for="project">Project</label> <select
																	id="projectId" required="required" class="form-control"
																	name="projectId">
																	<option selected="selected" value="">Select
																		Project</option>
																	<option th:each="list : ${projectList}"
																		th:value="${list.id}" th:text="${list.name}"></option>
																</select>

															</div>


															<div class="form-group col-md-6">
																<label for="name">Task Name</label> <input type="text"
																	required="required" class="form-control" name="name"
																	id="name" th:value="${task.name}"
																	placeholder="Task Name" />
															</div>
															
															<div class="form-group col-md-6">
																<label for="testTag">User</label> <input 
																	required="required" class="form-control" name="assignedUser"
																	 id="form-tags-4" type="text" value="" />
															</div>

															

															<div class="form-group col-md-6">
																<label for="startTime">Start Date</label> <input
																	required="required" th:value="${task.startTime}"
																	name="startTime" class="form-control date-picker"
																	id="datepicker" placeholder="Date from" />
															</div>

															<div class="form-group col-md-6">
																<label for="duration">Duration</label> <input
																	type="number" required="required"
																	th:value="${task.duration}" class="form-control"
																	name="duration" id="duration" placeholder="Duration" />
															</div>





															<div class="form-group col-md-6">
																<label for="description">Description</label>
																<textarea rows="4" id="description" name="description"
																	th:value="${task.description}" required="required"
																	class="form-control" placeholder="Description..."></textarea>
															</div>



															<button class="btn btn-success pull-right">Create</button>
														</form>
													</div>


												</div>
											</div>


										</div>

									</div>
								</div>
							</div>
						</div>


						<div class="col-md-12">
							<div class="panel panel-white">
								<div class="panel-heading clearfix">
									<h4 class="panel-title">Tasks List</h4>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-12">

											<div class="">
												<table id="example" class="display table"
													style="width: 100%; cellspacing: 0;">
													<thead>
														<tr>
															<th>Name</th>
															<th>Project</th>
															<th>Duration</th>
															<th>Start Date</th>
															<th>Description</th>
															<th>Status</th>
															<th>Action</th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="list : ${taskList}">
															<td th:text="${list.name}">---</td>
															<td th:text="${list.project.name}">---</td>
															<td th:text="${list.duration}">---</td>
															<td
																th:text="${#dates.format(list.startTime, 'dd-MMM-yyyy')}"></td>
															<td th:text="${list.description}"></td>
															<td>..</td>
															<td>
																<div class="btn-group m-b-sm">
																	<button type="button"
																		class="btn btn-primary dropdown-toggle"
																		data-toggle="dropdown" aria-expanded="false">
																		Action <span class="caret"></span>
																	</button>
																	<ul class="dropdown-menu" role="menu">
																		<li><a th:href="'#edit'+${list.id}"
																			data-toggle="modal">Edit</a></li>
																	</ul>
																</div>
															</td>




															<div class="modal fade bs-example-modal-sm" role="dialog"
																aria-labelledby="mySmallModalLabel"
																th:id="'edit'+${list.id}" aria-hidden="true">
																<div class="modal-dialog modal-md">
																	<div class="modal-content">
																		<div class="modal-header">
																			<button type="button" class="close"
																				data-dismiss="modal" aria-label="Close">
																				<span aria-hidden="true">&times;</span>
																			</button>
																			<h4 class="modal-title" id="mySmallModalLabel">Edit
																				Task</h4>
																		</div>
																		<form method="POST" th:action="@{/task/edit}">
																			<div class="modal-body">
																				<div class="row">


																					<div class="form-group col-md-6">
																						<label for="id">Task ID</label> <input type="text"
																							th:value="${list.id}" id="id" readonly="readonly"
																							name="id" class="form-control" />
																					</div>
																					<div class="form-group col-md-6">
																						<label for="name">Name</label> <input type="text"
																							th:value="${list.name}" name="name"
																							class="form-control" id="name"
																							placeholder="Name..." />
																					</div>

																					<div class="form-group col-md-6">
																						<label for="name">Project</label> <select
																							id="projectId" style="width: 100%;"
																							required="required" class="form-control"
																							name="projectId">
																							<option selected="selected"
																								th:text="${list.project.name}"
																								th:value="${list.project.id}">Select
																								Project</option>
																							<option th:each="project : ${projectList}"
																								th:value="${project.id}"
																								th:text="${project.name}"></option>
																						</select>
																					</div>

																					<div class="form-group col-md-6">
																						<label for="datepicker">Start Date</label> <input
																							th:value="${#dates.format(list.startTime, 'dd/MM/yyyy')}"
																							name="startTime" class="form-control date-picker"
																							id="datepicker" readonly="readonly" />

																					</div>

																					<div class="form-group col-md-6">
																						<label for="duration">Duration</label> <input
																							type="number" th:value="${list.duration}"
																							name="duration" class="form-control"
																							id="duration" placeholder="Duartion..." />
																					</div>
																					<div class="form-group col-md-12">
																						<label for="description">Description</label>
																						<textarea rows="4" id="description"
																							name="description" th:text="${list.description}"
																							required="required" class="form-control"
																							placeholder="Description..."></textarea>
																					</div>
																				</div>
																			</div>
																			<div class="modal-footer">
																				<button type="button" class="btn btn-default"
																					data-dismiss="modal">Close</button>
																				<input type="hidden" name="${_csrf.parameterName}"
																					value="${_csrf.token}" />
																				<button type="submit" class="btn btn-success">Update</button>
																			</div>
																		</form>
																	</div>
																</div>
															</div>




														</tr>
													</tbody>
												</table>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>



				



				</div>

				<!-- Row -->
			</div>




		</div>



		<div class="page-footer">
			<p class="no-s">2019 &copy; WYS</p>
		</div>
	</div>

	</main>

	<div class="cd-overlay"></div>



	<script th:inline="javascript">
	/*<![CDATA[*/
	var list = /*[[${emailList}]]*/ 'email';
		$(function() {

			$('#form-tags-4').tagsInput({
				'autocomplete' : {
					source : list
				}
			});

		});

		/*]]>*/
	</script>



	<!-- Javascripts -->


	<script th:src="@{/js/index.js}"></script>
	<script th:src="@{/plugins/pace-master/pace.min.js}"></script>
	<script th:src="@{/plugins/jquery-blockui/jquery.blockui.js}"></script>
	<script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/plugins/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
	<script th:src="@{/plugins/switchery/switchery.min.js}"></script>
	<script th:src="@{/plugins/uniform/jquery.uniform.min.js}"></script>
	<script th:src="@{/plugins/waves/waves.min.js}"></script>
	<script th:src="@{/plugins/3d-bold-navigation/js/main.js}"></script>
	<script th:src="@{/plugins/jquery-mockjax-master/jquery.mockjax.js}"></script>
	<script th:src="@{/plugins/moment/moment.js}"></script>

	<script th:src="@{/plugins/datatables/js/jquery.datatables.min.js}"></script>
	<script
		th:src="@{/plugins/x-editable/bootstrap3-editable/js/bootstrap-editable.js}"></script>
	<script
		th:src="@{/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
	<script th:src="@{/js/modern.min.js}"></script>
	<script th:src="@{/js/pages/table-data.js}"></script>

	<script th:src="@{/plugins/select2/js/select2.min.js}"></script>
	<script th:src="@{/js/pages/form-select2.js}"></script>

	<script th:src="@{/js/custom/select2.min.js}"></script>

	<script type="text/javascript"
		th:src="@{/js/custom/dataTables.buttons.min.js}">
		
	</script>
	<script type="text/javascript"
		th:src="@{/js/custom/buttons.flash.min.js}">
		
	</script>


</body>

</html>
