

<!DOCTYPE html>
<html xmlns:th="http://w3.org/1999/xhtml">

<head th:replace="common/header :: common-header">
<title>Page titles</title>
</head>


<body>
	<div class="overlay"></div>
	<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right"
		id="cbp-spmenu-s1"></nav>
	<main class="page-content content-wrap">

	<div th:replace="common/header :: common-navbar" class="navbar"></div>
	<!-- Navbar -->

	<div th:replace="common/header :: common-sidebar"></div>
	<!-- Sidebar -->

	<div class="page-inner">

		<div class="page-title">
			<h3>HOME</h3>
			<div class="page-breadcrumb">
				<ol class="breadcrumb">
					<li><a href="#">Create</a></li>
					<li class="active">Project</li>
				</ol>
			</div>
		</div>
		<div id="main-wrapper">
			<div id="main-wrapper">
				<div class="row">
					<div class="col-md-6">
						<div class="panel panel-white">
							<div class="panel-body">
								<h3>Create Project</h3>
								<form class="m-t-md" method="post"
									th:action="@{/project/create}" th:object="${project}">

									<div class="form-group">
										<label>Project Name</label> <input type="text"
											class="form-control" required="required"
											th:value="${project.name}" id="name" name="name"
											placeholder="Project name" />

									</div>
									
									<div class="form-group">
										<label for="owner">Project owner</label> 
										<select id="owner"
											class="form-control" name="owner" th:value="${project.owner}">
											<option selected="selected" value="">Select owner</option>
											<option th:each="list : ${userList}" th:value="${list.fname} +' '+${list.lname}"
												th:text="${list.fname} +' '+${list.lname}"></option>
										</select>

									</div>
									
									<div class="form-group" >
										<label for="duration">Duration</label> <input type="number"
											name="duration" required="required" class="form-control"
											th:value="${project.duration}" placeholder="Number of days" />

										<span class="text-danger"
											th:if="${#fields.hasErrors('duration')}"
											th:errors="*{duration}">duration error</span>
									</div>

									


									<div style="float: left; width: 143%">
										<label>Description</label>
										<div>
											<textarea class="form-control" rows="8" style="width: 70%"
												name="description" id="description"></textarea>
										</div>
									</div>
									<div class="form-group">
										<label for="startTime"><br></br> Start Date</label> <input
											required="required" name="startTime"
											class="form-control date-picker" id="datepicker"
											placeholder="Date from" /> <span class="text-danger"
											th:if="${#fields.hasErrors('startTime')}"
											th:errors="*{startTime}">startTime error</span>
									</div>
									<div class="form-group">
										<button type="submit" class="btn btn-primary">Create</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-white">
							<div class="panel-body">
								<h3>Project list</h3>
								<div class="table-responsive">
									<table id="example" class="display table"
										style="width: 100%; cellspacing: 0;">
										<thead>
											<tr>
												<th>Name</th>
												<th>Owner</th>
												<th>Remaining days</th>

											</tr>
										</thead>
										<tbody>
											<tr th:each="list :${projectList}">
												<td th:text="${list.name}">---</td>
												<td th:text="${list.owner}"></td>
												<td th:text="${list.duration}">---</td>
											</tr>
										</tbody>
									</table>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Page Inner --> </main>
	<!-- Page Content -->

	<div class="cd-overlay"></div>

	<div th:replace="common/header :: body-bottom-scripts"></div>
	<!--Start of Tawk.to Script-->
	<script th:inline="javascript">
		/*<![CDATA[*/

		$('#datepicker').datepicker({
			daysOfWeekDisabled : [ 0, 6 ],
			autoclose : true,
		});

		/*]]>*/
	</script>


</body>


</html>