<!DOCTYPE html>
<html xmlns:th="http://w3.org/1999/xhtml">

<head th:replace="common/header :: common-header">
<title>Page titles</title>
</head>


<body>
	<div class="overlay"></div>
	<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right"
		id="cbp-spmenu-s1"></nav>
	<main class="page-content content-wrap">

	<div th:replace="common/header :: common-navbar" class="navbar"></div>
	<!-- Navbar -->

	<div th:replace="common/header :: common-sidebar"></div>
	<!-- Sidebar -->

	<div class="page-inner">
		
		<!-- Content here -->
		<form class="m-t-md" method="post"
			th:action="@{/report/select}" >
			<div class="form-group col-md-6">
				<div class="form-group">
				<select id="projectId" required="required" class="form-control" name="projectId">
					<option selected="selected" value="">Select Project</option>
					<option th:each="list : ${projectList}" th:value="${list.id}" th:text="${list.name}"></option>
				</select>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Search</button>
				</div>
			</div>
			
			
		</form>
		<div class="col-md-9">
			    <h1 th:text="${reportProject?.project?.name}"></h1>
			    
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">List of Tasks</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                    <th>Task Id</th>
                    <th>Task Name</th>
                    <th>Status</th>
                    <th>Assigned Users</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="rTask : ${reportProject?.reportTask}">
                    <td th:text="${rTask.task.id}"></td>
                    <td th:text="${rTask.task.name}"></td>
                   	<td th:text="${rTask.task.status}"></td>
                    <td>
                      <ol th:each="u: ${rTask?.users}">
                      		<li th:text="${u.key}">
                      		</li>
                      </ol>
                    </td>
                  </tr>
                  
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            
            <!-- /.box-footer -->
          </div>
        
		</div>
	</div>
	s <!-- Page Inner --> </main>
	<!-- Page Content -->

	<div class="cd-overlay"></div>

	<div th:replace="common/header :: body-bottom-scripts"></div>
	<!--Start of Tawk.to Script-->
	<script th:inline="javascript">
		/*<![CDATA[*/

		$('#datepicker').datepicker({
			daysOfWeekDisabled : [ 0, 6 ],
			autoclose : true,
		});

		/*]]>*/
	</script>


</body>


</html>