<!DOCTYPE html>
<html xmlns:th="http://w3.org/1999/xhtml">

<head th:replace="common/header :: common-header">
<title>Page titles</title>
</head>

<body>
	<div class="overlay"></div>
	<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right"
		id="cbp-spmenu-s1">
		<h3>
			<span class="pull-left">Chat</span><a href="javascript:void(0);"
				class="pull-right" id="closeRight"><i class="fa fa-times"></i></a>
		</h3>
		<div class="slimscroll"></div>
	</nav>

	<main class="page-content content-wrap">
	<div th:replace="common/header :: common-navbar" class="navbar"></div>
	<!-- Navbar -->

	<div th:replace="common/header :: common-sidebar"></div>
	<!-- Sidebar -->

	<div class="page-inner">
		<div class="page-title">
			<h3>HOME</h3>
			<div class="page-breadcrumb">
				<ol class="breadcrumb">
					<li><a href="#">Home</a></li>
					<li class="active">Dashboard</li>
				</ol>
			</div>
		</div>
		<div id="main-wrapper">
			<div class="row">


				<div class="col-lg-5 col-md-6" th:value="${project}">
					<div class="panel info-box panel-white">
						<div class="panel-body">
							<div class="info-box-stats">

								<p th:text="${project.name}"></p>
								<span class="info-box-title"> Progress 43%</span>

							</div>
							<a href="javascript:void(0);" data-toggle="tooltip"
								data-placement="top" title="Refresh" class="panel-reload"><i
								class="icon-reload"></i></a>
							<div class="info-box-icon">
								<i class="fa-tags"></i>
							</div>

							<div class="info-box-progress">
								<div class="progress progress-xs progress-squared bs-n">
									<div class="progress-bar progress-bar-success"
										role="progressbar" aria-valuenow="40" aria-valuemin="0"
										aria-valuemax="100" style="width: 40%"></div>

								</div>
							</div>
						</div>


						<div class="panel-heading clearfix">
							<h3 class="panel-title">All Tasks</h3>
						</div>
						<div class="panel-body">
							<div class="alert alert-success" role="alert">Well done!
								You successfully implemented this task</div>
							<div class="alert alert-info" role="alert">Heads up! This
								alert needs your attention, but it's not super important.</div>
							<div class="alert alert-warning" role="alert">Warning!
								Better check yourself, you're not looking too good.</div>
							<div class="alert alert-danger" role="alert">Oh snap!
								Change a few things up and try finishing the task.</div>
						</div>



					</div>

				</div>

			</div>
		</div>
	</div>
	</main>

	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>

